@import "./common.scss";
@mixin center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

$primaryColor: #ff79da;
$secondaryColor: #9356dc;
$TertiaireColor: #99E2D0;

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
input {
  font-weight: bold;
  font-size: 14px;
}
h1 h2 h3 h4 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0px;
}
@keyframes eapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes diseapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.divin {
  animation: eapper 6s;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.divout {
  animation: diseapper 4s;
  animation-fill-mode: forwards;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner div {
  position: absolute;
  animation: spinner 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 12px 0 0 #da66ba;
  transform-origin: 80px 86px;
}
.eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.spinner div {
  box-sizing: content-box;
}
.lien {
  text-decoration: none;
  color: black;
}
.title {
  font-family: "Shrikhand", cursive;
}
.localisation {
  height: 25px;
  width: 25px;
}
.icone-footer {
  width: 20px;
  height: 20px;
}

.logo {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 4px;
}

#logo_dim {
  width: 200px;
  height: 30px;
}
.localisateur {
  @include center;
  background: #e6e6e6;
}
.searchbar {
  @include center;
  height: 50px;
}
#searchbar_in {
  text-align: center;
  width: 100%;
  border: none;
  background-color: transparent;
}
.section_1 p {
  font-size: 17px;
}
.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section_1_in {
  width: 350px;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  color: white;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #da66ba 0%, #844dc5 100%);
  cursor: pointer;
  margin: 30px;
  transition: 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  box-shadow: rgba(43, 43, 44, 0.311) 0px 8px 24px;
  border-radius: 30px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.54);
  background: linear-gradient(to right, #ff77da 0%, #ab64ff 100%);
}

.section_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.first-title {
  margin-left: -175px;
}
.second-title {
  margin-left: -210px;
}
.section_2_in {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: #f6f6f6;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px,
    rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
  border-radius: 20px;
  position: relative;
  width: 330px;
  gap: 2rem;
  height: 70px;
}

.number {
  @include center;
  color: white;
  background: rgba(92, 1, 205, 0.4470588235);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin-left: -15px;
}

.section_2_in:hover {
  background-color: #f8e1f2;
}

.restaurants {
  background: rgb(232, 231, 231);
  padding-bottom: 100px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carte_restaurants {
  width: 350px;
  height: 285px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  cursor: pointer;
}

.carte_1 {
  height: 200px;
  display: flex;
  justify-content: flex-end;
}

.carte_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 70px;
}

.heart {
  & .full {
    transform: translateY(-28px) scale(0);
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.4s linear;
    opacity: 0;
  }
  & .empty {
    transform: scale(1);
    transition: 0.4s linear;
  }
}
.heart:hover {
  cursor: pointer;
  & .full {
    transform: translateY(-28px) scale(1);
    opacity: 1;
  }
  & .empty {
    transform: scale(0.95);
  }
}

.nouveau {
  @include center;
  width: 80px;
  height: 25px;
  margin-right: 10px;
  border-radius: 3px;
  background: #a9e0d1;
  color: #3b8468;
  position: absolute;
}

.img_cartes {
  width: 350px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  background-color: #353535;
  padding: 20px;
  margin-bottom: 0%;
  margin-top: -60px;
}

.footer_2 {
  display: flex;
  align-items: center;
  height: 35px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 3px;
  cursor: pointer;
}

.footer_2 a {
  text-decoration: none;
  color: white;
}

.footer_logo {
  padding-right: 10px;
}

.decorationlien {
  text-decoration: none;
  color: white;
}

footer p {
  color: white;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: whitesmoke;
    padding-top: 20px;
  }
  .none {
    display: none;
  }
  .logo {
    width: 500px;
    height: 200px;
    text-align: center;
    @include center;
    margin-bottom: 4px;
    margin-left: 50px;
    box-shadow: none;
  }
  #logo_dim {
    width: 300px;
    height: 50px;
  }
  .localisateur {
    @include center;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    width: 500px;
    height: 80px;
    border-radius: 50px;
    margin-right: 30px;
  }
  .searchbar {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 80px;
  }
  #searchbar_in {
    text-align: center;
    width: 100%;
    color: black;
    border: none;
  }
  .section_1 {
    @include center;
    flex-direction: row;
    background-color: whitesmoke;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
  }
  .section_1_in {
    width: 350px;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .button {
    color: white;
    padding: 20px;
    text-align: center;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    border-radius: 30px;
    cursor: pointer;
    margin: 30px;
    box-shadow: rgba(43, 43, 44, 0.311) 0px 8px 24px;
    transition: 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .button:hover {
    transform: scale(1.1);
  }
  .section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section_2_in {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #f6f6f6;
    box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px,
      rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
    border-radius: 20px;
    position: relative;
    gap: 2rem;
    width: 250px;
    height: 70px;
  }
  .number {
    @include center;
    color: white;
    background: rgba(92, 1, 205, 0.4470588235);
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
  .section_2_in:hover {
    background-color: #f8e1f2;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  }
  .restaurants {
    background: rgb(232, 231, 231);
    padding-bottom: 100px;
    padding-top: 100px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .none {
    display: none;
  }
  .carte_restaurants {
    width: 350px;
    height: 285px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    cursor: pointer;
  }
  .carte_1 {
    height: 200px;
    display: flex;
    justify-content: flex-end;
  }
  .carte_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 70px;
  }
  .nouveau {
    @include center;
    width: 80px;
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    background: #a9e0d1;
    color: #3b8468;
    position: absolute;
  }
  .img_cartes {
    width: 350px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .footer_1 {
    display: flex;
    align-items: center;
  }
  .footer_2 {
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
  }
  header {
    display: flex;
    align-items: center;
    gap: 200px;
    background-color: whitesmoke;
    padding-top: 20px;
  }
  .logo {
    width: 500px;
    height: 200px;
    @include center;
    text-align: center;
    margin-bottom: 4px;
    margin-left: 50px;
    box-shadow: none;
  }
  #logo_dim {
    width: 300px;
    height: 50px;
  }
  .localisateur {
    @include center;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    width: 500px;
    height: 80px;
    border-radius: 50px;
  }
  .searchbar {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 80px;
  }
  #searchbar_in {
    text-align: center;
    width: 100%;
    border: none;
  }
  .section_1 {
    @include center;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
  }
  .section_1_in {
    width: 350px;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .button {
    color: white;
    padding: 20px;
    text-align: center;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    border-radius: 30px;
    cursor: pointer;
    margin: 30px;
    box-shadow: rgba(43, 43, 44, 0.311) 0px 8px 24px;
    transition: 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .button:hover {
    transform: scale(1.1);
  }
  .section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section_2_in {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #f6f6f6;
    box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px,
      rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
    border-radius: 20px;
    position: relative;
    gap: 2rem;
    width: 350px;
    height: 70px;
  }
  .number {
    @include center;
    color: white;
    background: rgba(92, 1, 205, 0.4470588235);
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
  .section_2_in:hover {
    background-color: #f8e1f2;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  }
  .restaurants {
    background: rgb(232, 231, 231);
    padding-bottom: 100px;
    margin-bottom: 20px;
    padding-top: 100px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .none {
    display: none;
  }
  .carte_restaurants {
    width: 300px;
    height: 255px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    cursor: pointer;
  }
  .carte_1 {
    height: 200px;
    display: flex;
    justify-content: flex-end;
  }
  .carte_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 70px;
  }
  .nouveau {
    @include center;
    width: 80px;
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    background: #a9e0d1;
    color: #3b8468;
    position: absolute;
  }
  .img_cartes {
    width: 350px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .footer_1 {
    display: flex;
    align-items: center;
  }
  .footer_2 {
    margin-right: 20px;
  }
} /*# sourceMappingURL=style.css.map */
