@charset "UTF-8";
@import "./common.scss";
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  gap: 55px;
  padding-left: 10px;
}

#logo_dim {
  width: 200px;
  height: 40px;
}

.title {
  font-family: "Shrikhand", cursive;
}

.section_photo {
  height: 300px;
  background-size: cover;
}

.url_palette {
  background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.url_enchanté {
  background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.url_francaise {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.url_délice {
  background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.photo_section {
  width: 100%;
}
.first-title {
  font-weight: 900;
  font-size: 30px;
  font-style: italic;
  white-space: nowrap;
  width: auto;
}

.heart {
  & .full {
    transform: translateY(-28px) scale(0);
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.4s linear;
    opacity: 0;
  }
  & .empty {
    transform: scale(1);
    transition: 0.4s linear;
  }
}
.heart:hover {
  cursor: pointer;
  & .full {
    transform: translateY(-28px) scale(1);
    opacity: 1;
  }
  & .empty {
    transform: scale(0.95);
  }
}

.Menu {
  padding-left: 20px;
  padding-right: 20px;
}

.liste_menu {
  background-color: #f6f6f6 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  z-index: 10 !important;
  overflow: hidden;
}

.title_menu {
  display: flex;
  align-items: baseline;
  padding-left: 20px;
  gap: 30px;
}

.title_entrées {
  border-bottom: 3px solid #99e2d0;
  height: 18px;
  width: 60px;
}

.Menu-barre {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  animation: slideup 1s forwards;
  opacity: 0;
  &:hover {
    & .Menu-info {
      width: calc(100% - 120px);
      transition: 0.3s linear;
    }
    & .price {
      transform: translateX(0px);
      transition: 0.3s linear;
    }
    & .validation {
      min-width: 60px;
      transform: translateX(0px);
      transition: 0.3s linear;
      & i {
        transform: rotate(360deg);
        transition: 0.4s linear;
      }
    }
  }
}

.validation{
  min-width: 60px;
  transform: translateX(-60px);
  transition: 0.3s linear;
}

@keyframes slideup {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.slideup-0 {
  animation-delay: 0ms;
}

.slideup-1 {
  animation-delay: 300ms;
}

.slideup-2 {
  animation-delay: 600ms;
}

.price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  margin-bottom: 15px;
  width: 60px;
  transform: translateX(0px);
  transition: 0.3s linear;
}

.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  font-size: 22px;
  background-color: #99e2d0;
  color: white;
  transform: translateX(60px);
  transition: 0.3s linear;
  & i {
    transform: rotate(0deg);
    transition: 0.4s linear;
  }
}

.Menu-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: calc(100% - 60px);
  margin-left: 8px;
  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.text-1 {
  margin-bottom: 0px;
}
.text-2 {
  margin-top: 0px;
}

.button {
  color: white;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to right, #DA66BA 0%, #844DC5 100%);
  cursor: pointer;
  margin: 30px;
  transition: 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  box-shadow: rgba(43, 43, 44, 0.311) 0px 8px 24px;
  border-radius: 30px;
  border: 0px solid white;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54); 
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
  background: linear-gradient(to right, #FF77DA 0%, #AB64FF 100%);
}

.button_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #353535;
  padding: 20px;
  margin-bottom: 0%;
}

.footer_2 {
  display: flex;
  align-items: center;
  height: 35px;
  margin-right: 20px;
  cursor: pointer;
}

.footer_2 a {
  text-decoration: none;
  color: white;
}

.footer_logo {
  padding-right: 10px;
}

footer p {
  color: white;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    gap: 270px;
    padding-left: 10px;
  }
  .photo_section {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .liste_menu {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .title_menu {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 150px;
  }
  .footer_1 {
    display: flex;
    align-items: center;
  }
  .footer_2 {
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    gap: 580px;
    padding-left: 10px;
  }
  .Menu-barre {
    max-width: 320px;
    min-width: 320px;
  }
  .photo_section {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .liste_menu {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer_1 {
    display: flex;
    align-items: center;
  }
  .footer_2 {
    margin-right: 20px;
  }
}
